body{
  background-color: black;
  margin: 0;
}

/* BANNER  */

.banner-wrapper{ margin-top: 42px; position: relative;}

.next-prev-btn-wrapper{ display: flex; position: absolute; bottom: 0; right: 0;}
.next-prev-btn-wrapper div { width: 42px; height: 42px; border-radius: 9em; position: relative; margin-left: 6px;}
.next-prev-btn-wrapper div:first-child { background-color: #414141; }
.next-prev-btn-wrapper div:last-child { background-color: #DAFE8D;} 
.next-prev-btn-wrapper div img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.right-shadow { 
  position: absolute; 
  right: 0; 
  height: 400px;
  width: 720px;
  background: linear-gradient(270.59deg, #121212 0.43%, rgba(9, 9, 9, 0) 53.15%); 
}

/* BANNER END */

/* CONTENT */

.card-partner{
  padding: 8px 12px;
  /* background-color: #141414; */

}

/* END CONTENT */